body{
    margin: 0;
    padding:0;
    background-color: grey;
    }

nav {
    display: flex;
justify-content: space-between;
    align-items : center;
    background-color: white;
   

}
.homeBar {
    width: 100%;
    overflow: auto;
}
.logo {
    display: flex;
    align-items: center;
}

.searchLink {
    display: flex;
    width: 65%;
    align-items: center;
    padding-left: 10%;
}
.searchBar {
    width: 75%;
    height: 25px;
    
}
.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.fab{
    color: red;
    font-size: 35px;
}
.fas{
    padding-right: 30px;
    font-size: 25px;
}
.container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    margin:0 2px 0 2px;;
    
}
.right-container{
    float:right;
    align-items: center;
    width: 35%;
}
.left-container{
    width: 70%;
    float:left;
    margin-right: 20px;
    
}
.userData {
 background-color: white; 
 width:100%;
}
#subscribe {
    background-color: red;
    color:white;
}
.channel {
    display: flex;
    flex-direction: none;
}
.channel1 {
    float: left;
}
.channel2 {
    float: left;
}

.channel3 {
    float: right;
    padding-left: 38%;
      
}
.small{
    border-color:black;
    border-style:solid ;
    border:2px;
}
.share{
    display: inline-flex;
}
.share-right{
    display: flex;
    padding-left:70%;
}
.share-left{
    display: flex;
}
.showMore {
    background-color : white;
    width: 100%;
    margin-top: 20px;
}
.btn {
    color: gray;
    width: 90%;
    height: 95%;
    background-color: white;
    border: none;
    

}

